@model MvcPlants.Models.Plant

@{
    ViewData["Title"] = "Delete";
}

<style>
    body {
        background-color: antiquewhite;
        overflow-x: hidden;
    }

    .row {
        padding: 1rem 3rem;
        grid-area: 1/ !important;
    }

    h1 {
        font-size: 5rem;
        font-weight: 500;
        text-transform: uppercase;
        font-family: 'didot', serif;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 0;
    }

    .done-btn {
        background-color: lightcoral;
        border: none;
    }

        .done-btn:hover {
            background-color: crimson;
            border: 1px solid black;
        }

    .back {
        margin-left: 1rem;
        color: black;
        text-decoration: none;
    }

        .back:hover {
            color: crimson;
        }

    .form-group {
        margin-bottom: 1.5rem
    }

</style>
<h1>Delete</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Family)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class = "col-sm-10" style="margin-bottom: 2.5rem;">
            @Html.DisplayFor(model => model.Origin)
        </dd>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger done-btn" />
            <a asp-action="Index" class="back">Back to List</a>
        </form>
    </dl>
    
</div>
